<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro no site
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro no site</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input class="CorDosInputs" value="Nome: "></ion-input>
  <ion-input class="CorDosInputs" value="email: "></ion-input>
  <ion-input class="CorDosInputs" value="Data de Nascimento: "></ion-input>

  <div id="container">
    <ion-button (click) = "presentAlert()" class="alerta" color="light">Cadastrar</ion-button>
  </div>
</ion-content>
